PORT=5000
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.otaeh.mongodb.net/?retryWrites=true&w=majority"
MONGODB_DATABASE=ambieye
JWT_SECRET=dgDMX/JESm2xf0qMMffAGVSzzYsl+QwY2KC3huQjvu0=
JWT_ACCESS_EXPIRY=10080
JWT_REFRESH_EXPIRY=100800